# Ignore everything
*

# But not these files...
!/.gitignore
!README.md
!LICENSE

!*.nix
!flake.lock

!gleam.toml
!manifest.toml
!*.gleam

!/.github/**

# ...even if they are in subdirectories
!*/

# Ignore build no matter what though
/build/