# Ignore everything
*

# But not these files...
!/.gitignore
!README.md
!LICENSE

!*.nix
!flake.lock

!dune
!dune-project
!*.opam
!*.ml

# ...even if they are in subdirectories
!*/

# Ignore _build no matter what though
/_build/